<form [formGroup]="form" (ngSubmit)="onSubmit($event)" novalidate>
  <p-card [header]="titleCard">
    <div class="grid mt-2">
      <div class="col-12" [ngClass]="['col-12', isView ? 'lg:col-8' : '']">
        <label for="nome-categoria">Nome</label>
        <input
          pInputText
          type="text"
          maxlength="100"
          class="w-full mt-1"
          id="nome-categoria"
          formControlName="nome"
          placeholder="Informe o nome..."
        />
        <app-form-control-errors
          [control]="getControlForm('nome')"
        ></app-form-control-errors>
      </div>
      @if (isView) {
        <div class="col-12 lg:col-4">
          <label for="status-categoria">Status</label>
          <input
            pInputText
            type="text"
            class="w-full mt-1"
            id="status-categoria"
            formControlName="status"
          />
        </div>
      }
      <div class="col-12">
        <label for="descricao-categoria">Descrição</label>
        <textarea rows="5" cols="30" pTextarea formControlName="descricao" ></textarea>
      </div>
    </div>
  </p-card>
</form>
