<p-card header="Produtos">
  <!-- <div>
    <app-produto-filters
      [refresh$]="refresh$"
      (onFilter)="onFilter($event)"
    ></app-produto-filters>
  </div>
  <p-divider /> -->
  <div class="grid justify-content-end">
    <div class="col-12 lg:col-3">
      <a [routerLink]="['adicionar']" class="btn-primary-outlined-link">
        Cadastrar Produto
      </a>
    </div>
  </div>
  @if (loading$ |async) {
  <app-loading></app-loading>
  } @if (produto$ | async; as produtos) {
  <div>
    <app-produto-table
      [data]="produtos"
      [refresh$]="refresh$"
    ></app-produto-table>
  </div>
  }
</p-card>
