<section>
  <div class="flex flex-column">
    <div class="header-dialog-custom">
      <p [class]="titleClass">{{ dialogTitle }}</p>
      <p-button
        class="py-0"
        [text]="true"
        rounded="true"
        styleClass="py-0"
        icon="pi pi-times"
        (onClick)="ref.close()"
        [severity]="severityButton"
      ></p-button>
    </div>
    <div class="content-dialog-custom">
      <div>
        <i [class]="iconClass"></i>
      </div>
      <div [innerHTML]="mensagemHtml"></div>
    </div>
    <div class="footer-dialog-custom">
      <p-button (onClick)="ref.close()" [severity]="severityButton">
        OK
      </p-button>
    </div>
  </div>
</section>
