<div class="w-full h-{{heightCards}}">
    @if ($loading | async) {
        <p-skeleton class="w-full" [height]="heightSkeleton" />
    } @else {
        <app-card-generico
            [icone]="'pi-dollar'"
            [(value)]="selectedView"
            [titulo]="getTitleByView"
            [tooltip]="getTooltipByView"
            [_stateOptions]="stateOptions"
        >
            <p-chart type="bar" [data]="dataChart" [options]="optionsChart" class="w-full" />
        </app-card-generico>
    }
</div>