<p-card>
  <ng-container *ngIf="data.length > 0; else noData">
    <p-table
      #dt1
      [value]="data"
      [globalFilterFields]="[
        'nome',
        'descricao',
        'precoCusto',
        'precoVenda',
        'status',
        'codigo',
        'quantidadeEmEstoque',
        'marca.nome',
        'categoria.nome'
      ]"
      [paginator]="true"
      [rows]="10"
      dataKey="id"
      stateStorage="session"
      [rowsPerPageOptions]="[5, 10, 20]"
      class="table-custom p-datatable-gridlines"
      [tableStyle]="{ 'min-width': '60rem' }"
    >
      <ng-template pTemplate="caption">
        <div class="flex">
          <p-iconfield iconPosition="left" class="ml-auto">
            <p-inputicon>
              <i class="pi pi-search"></i>
            </p-inputicon>
            <input
            pInputText
            type="text"
            [value]="$any(dt1).filters['global']?.value"           
            (input)="onGlobalFilter(dt1, $event)"
            placeholder="Search..."
            />
          </p-iconfield>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nome" class="text-center">
            <div class="flex items-center gap-2">
              Nome
              <p-sortIcon field="nome" />
            </div>
          </th>
          <th pSortableColumn="descricao" class="text-center">
            <div class="flex items-center gap-2">
              Descrição
              <p-sortIcon field="descricao" />
            </div>
          </th>
          <th pSortableColumn="precoCusto" class="text-center">
            <div class="flex items-center gap-2">
              Custo (R$)
              <p-sortIcon field="precoCusto" />
            </div>
          </th>
          <th pSortableColumn="precoVenda" class="text-center">
            <div class="flex items-center gap-2">
              Venda (R$)
              <p-sortIcon field="precoVenda" />
            </div>
          </th>
          <th pSortableColumn="status" class="text-center">
            <div class="flex items-center gap-2">
              Status
              <p-sortIcon field="status" />
            </div>
          </th>
          <th pSortableColumn="codigo" class="text-center">
            <div class="flex items-center gap-2">
              Código
              <p-sortIcon field="codigo" />
            </div>
          </th>
          <th pSortableColumn="quantidadeEmEstoque" class="text-center">
            <div class="flex items-center gap-2">
              Em Estoque
              <p-sortIcon field="quantidadeEmEstoque" />
            </div>
          </th>
          <th pSortableColumn="marca.nome" class="text-center">
            <div class="flex items-center gap-2">
              Marca
              <p-sortIcon field="marca.nome" />
            </div>
          </th>
          <th pSortableColumn="categoria.nome" class="text-center">
            <div class="flex items-center gap-2">
              Categoria
              <p-sortIcon field="categoria.nome" />
            </div>
          </th>
          <th pSortableColumn="createdAt" class="text-center">
            <div class="flex items-center gap-2">
              Criado Em
              <p-sortIcon field="createdAt" />
            </div>
          </th>
          <th class="text-center">Opções</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-produto>
        <tr>
          <!-- Frozen Nome -->
          <td pFrozenColumn class="text-center" style="min-width: 6rem">
            {{ produto.nome || "–" }}
          </td>
          <!-- Descrição -->
          <td class="text-center" style="min-width: 8rem">
            {{ produto.descricao || "–" }}
          </td>
          <!-- Preço de Custo -->
          <td class="text-center">
            {{ produto.precoCusto | number : "1.2-2" }}
          </td>
          <!-- Preço de Venda -->
          <td class="text-center">
            {{ produto.precoVenda | number : "1.2-2" }}
          </td>
          <!-- Status Tag -->
          <td class="text-center">
            <p-tag
              [severity]="
                produto.status === STATUS.ATIVO ? 'success' : 'danger'
              "
              [value]="getStatusNormalized(produto.status)"
            ></p-tag>
          </td>
          <!-- Código -->
          <td class="text-center">
            {{ produto.codigo }}
          </td>
          <!-- Quantidade em Estoque -->
          <td class="text-center">
            {{ produto.quantidadeEmEstoque }}
          </td>
          <!-- Marca Nome -->
          <td class="text-center">
            {{ produto.marca?.nome || "–" }}
          </td>
          <!-- Categoria Nome -->
          <td class="text-center">
            {{ produto.categoria?.nome || "–" }}
          </td>
          <!-- CreatedAt -->
          <td class="text-center">
            {{ produto.createdAt | date : "dd/MM/yyyy HH:mm" }}
          </td>
          <!-- Opções -->
          <td class="text-center" style="min-width: 4rem">
            <p-button
              icon="pi pi-ellipsis-v"
              [text]="true"
              styleClass="text-color"
              (onClick)="onToggleMenu($event, produto)"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>

  <ng-template #noData>
    <sem-dados [data]="data"></sem-dados>
  </ng-template>
</p-card>

<p-menu #actionMenu [popup]="true"></p-menu>
