<p-card [styleClass]="estiloClasseCard">
    @if (titulo) {
        <ng-template #title>
            <div class="p-card-title flex flex-row justify-content-between align-items-center gap-2">
                <div [class]="estiloTitulo">
                    <div class="text-overflow-ellipsis overflow-hidden white-space-nowrap min-w-0">
                        {{titulo}}
                    </div>
                    @if (tooltip) {
                        <i class="pi pi-info-circle font-medium" [pTooltip]="tooltip" tooltipPosition="bottom"></i>
                    }
                </div>
                @if (icone) {
                    <i [class]="estiloClasseIcone" [ngClass]="icone"></i>
                }
            </div>
        </ng-template>
    }
    <div class="flex flex-row justify-content-center align-items-center gap-2 font-normal min-w-0 flex-1 {{fontSizeByScreenSize}}">
        <div class="text-overflow-ellipsis overflow-hidden white-space-nowrap min-w-0">
            {{valorColunaUm}}
        </div>
        @if (duasColunas && valorColunaDois) {
            <p-divider layout="vertical" class="m-1"/>
            <div class="text-overflow-ellipsis overflow-hidden white-space-nowrap min-w-0">
                {{valorColunaDois}}
            </div>
        }
    </div>
</p-card>