<div class="w-full h-28rem md:h-25rem">
  @if ($loadingData | async) {
    <p-skeleton class="w-full" height="24rem"/>
  } @else {
    <p-card [styleClass]="'h-full border-2 ' + config.cardStyle">
      <ng-template #title>
        <div class="p-card-title flex flex-row justify-content-between align-items-center gap-2">
          <div [class]="'flex flex-row justify-content-start align-items-center gap-1 min-w-0 ' + config.titleStyle">
            <div class="text-overflow-ellipsis overflow-hidden white-space-nowrap min-w-0">
              {{ config.titulo }}
            </div>
            <i class="pi pi-info-circle font-medium" 
               [pTooltip]="config.tooltipMessage" 
               tooltipPosition="bottom"></i>
          </div>
          <i [class]="'pi ' + config.icone + ' border-round-lg p-2 text-xl text-white ' + config.iconColor.replace('text-', 'bg-')"></i>
        </div>
      </ng-template>
      
      @if (dados?.length > 0) {
        <p-table 
          [rows]="5" 
          [paginator]="true" 
          [scrollable]="true"
          class="table-custom" 
          [value]="dados" 
          [scrollHeight]="scrollHeight"
          [responsiveLayout]="'scroll'" 
          styleClass="p-datatable-gridlines">
          
          <ng-template pTemplate="header">
            <tr>
              @for (coluna of config.colunas; track coluna.field) {
                <th class="text-50 text-center surface-100 text-color" 
                    [style.width]="coluna.width" 
                    [style.min-width]="coluna.minWidth || '5rem'">
                  {{ coluna.header }}
                </th>
              }
            </tr>
          </ng-template>
          
          <ng-template pTemplate="body" let-row>
            <tr>
              @for (coluna of config.colunas; track coluna.field) {
                <td class="text-center min-w-0" 
                    [style.width]="coluna.width" 
                    [style.min-width]="coluna.minWidth || '5rem'">
                  <div class="text-overflow-ellipsis overflow-hidden white-space-nowrap min-w-0">
                    {{ formatarValor(row[coluna.field], coluna) }}
                  </div>
                </td>
              }
            </tr>
          </ng-template>
        </p-table>
      }
      <sem-dados [data]="dados"></sem-dados>
    </p-card>
  }
</div>