<div class="w-full h-{{heightCards}}">
    @if ($loading | async) {
        <p-skeleton class="w-full" [height]="heightSkeleton" />
    } @else {
        <app-card-generico
            [icone]="'pi-dollar'"
            [titulo]="'Movimentações (R$)'"
            [tooltip]="'Valores totais de entradas (compras) e saídas (vendas) por mês nos últimos 12 meses.'"
        >
            <p-chart type="bar" [data]="dataChart" [options]="optionsChart" class="w-full" />
        </app-card-generico>
    }
</div>