<div class="mb-4 p-8" style="padding: 3rem">
  <p-card header="Simple Card">
    <p class="m-0">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
      consequuntur error repudiandae numquam deserunt quisquam repellat libero
      asperiores earum nam nobis, culpa ratione quam perferendis esse,
      cupiditate neque quas!
    </p>
    <div class="card flex justify-center" style="margin-bottom: 1rem">
      <p-button label="Toggle Dark Mode" (onClick)="toggleDarkMode()" />
    </div>
  </p-card>
</div>

<app-toast></app-toast>
<p-confirmDialog />
<router-outlet />
