<p-card>
  <div class="grid justify-content-end">
    <div class="col-12 lg:col-3">
      <p-button label="Cadastrar Categoria" class="w-full" styleClass="w-full" variant="outlined" (onClick)="onCadastrarCategoria()" />
    </div>
  </div>
  @if (data.length > 0) {
    <p-table
      [rows]="10"
      [value]="data"
      [paginator]="true"
      class="table-custom"
      [rowsPerPageOptions]="[5, 10, 20]"
      styleClass="p-datatable-gridlines"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="text-50 text-center surface-100 text-color" pFrozenColumn>Nome</th>
          <th class="text-50 text-center surface-100 text-color">Descrição</th>
          <th class="text-50 text-center surface-100 text-color">Status</th>
          <th class="text-50 text-center surface-100 text-color">Opções</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-categoria>
        <tr>
          <td class="text-center" style="width: 19%; min-width: 5rem" pFrozenColumn>{{ categoria.nome ? categoria.nome : '-' }}</td>
          <td class="text-center" style="width: 19%; min-width: 5rem">{{ categoria.descricao ? categoria.descricao : '-'}}</td>
          <td class="text-center" style="width: 19%; min-width: 5rem">{{ categoria.status | status }}</td>
          <td class="text-center" style="width: 4%; min-width: 5rem">
            <p-button
              [text]="true"
              icon="pi pi-ellipsis-v"
              styleClass="text-color"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  }
  <sem-dados [data]="data"></sem-dados>
</p-card>
