<footer class="layout-footer mt-4">
  <small class="text-xs">
    Desenvolvido por
    <a
      href="https://www.linkedin.com/in/mateuussilvapb/"
      target="_blank"
      rel="noopener noreferrer"
      class="font-medium hover:underline ml-1"
    >
      Mateus Dias
    </a>
    &
    <a
      href="https://www.linkedin.com/in/miquéias-garcia-14070a225/"
      target="_blank"
      rel="noopener noreferrer"
      class="font-medium hover:underline ml-1"
    >
      Miquéias Garcia
    </a>
  </small>
</footer>
