<p-card>
  <ng-template #header>
    <h4 class="m-0 pl-3 pt-3 font-medium">Buscar por...</h4>
  </ng-template>

  <div class="grid">
    <div class="col-12 lg:col-6 xl:col-4">
      <label for="username-email-usuario">Username ou E-mail</label>
      <input
        pInputText
        type="text"
        maxlength="100"
        class="w-full mt-1"
        [(ngModel)]="searchTerm"
        id="username-email-usuario"
        placeholder="Informe o username ou e-mail..."
      />
    </div>
  </div>
  <!-- BOTÕES -->
  <div class="grid justify-content-end mt-2">
    <div class="col-12 lg:col-2 lg:pr-1">
      <p-button label="Limpar" class="w-full" styleClass="w-full" variant="outlined" severity="secondary" (onClick)="limparCampos()" />
    </div>
    <div class="col-12 lg:col-2 lg:pl-1">
      <p-button label="Buscar" class="w-full" styleClass="w-full" type="submit" [disabled]="disableButtonBuscar()" (onClick)="onSubmit()" />
    </div>
  </div>
</p-card>
