<p-card>
  <div class="mb-2">
    <p class="m-0 mb-3 font-semibold">Preencha os campos para adicionar um produto...</p>
    <p-selectbutton [options]="opcoesFormasInputDados" [(ngModel)]="valueFormaInputDados" optionLabel="label" optionValue="value" aria-labelledby="basic" (ngModelChange)="onChangeFormaInputDados($event)"/>
  </div>
  @if (valueFormaInputDados === 'preco-cliente') {
    <app-input-preco-cliente
      [form]="form"
      [produtoToEdit]="produtoToEdit"
      [produtosOptions]="produtosOptions"
      (adicionarProduto)="onAdicionarProduto($event)"
    ></app-input-preco-cliente>
  } @else {
    <app-input-preco-custo 
      [form]="form"
      [produtoToEdit]="produtoToEdit"
      [produtosOptions]="produtosOptions"
      (adicionarProduto)="onAdicionarProduto($event)"
    ></app-input-preco-custo>
  }
</p-card>