<form [formGroup]="formProdutoEntradaEstoque" novalidate>
  <!-- CAMPOS -->
  <div class="grid">
    <!-- BOTÃO REMOVER PRODUTO -->
     @if (podeRemoverProduto) {
      <div class="flex flex-row justify-content-end col-12 p-0">
      <p-button
        pRipple
        type="button"
        [text]="true"
        [rounded]="true"
        styleClass="p-0"
        class="p-0"
        icon="pi pi-trash"
        severity="secondary"
        tooltipPosition="left"
        pTooltip="Remover Produto"
        (onClick)="removeProduto.emit()"/>
      </div>
    }

    <!-- Produto -->
    <div class="col-12 lg:col-3">
      <label for="id-produto">Produto</label>
      <p-select
        [filter]="true"
        id="id-produto"
        [showClear]="true"
        optionValue="value"
        optionLabel="label"
        class="w-full mt-1"
        formControlName="idProduto"
        filterPlaceholder="Busca..."
        [options]="produtosAutocomplete"
        [placeholder]="isView || isEditable ? '' : 'Selecione o produto'"
      ></p-select>
      <app-form-control-errors
        [control]="getControlForm('idProduto')"
      ></app-form-control-errors>
    </div>

    <!-- Preço de custo por unidade -->
    <div class="col-12 lg:col-3">
      <label for="preco-unitario">Preço por Unidade</label>
      <input
        pInputText
        step="0.01"
        type="text"
        currencyMask
        placeholder="R$"
        id="preco-unitario"
        class="w-full mt-1"
        formControlName="precoUnitario"
        [options]="optionsCurrencyMask"
      />
      <app-form-control-errors
        [control]="getControlForm('precoUnitario')"
      ></app-form-control-errors>
    </div>

    <!-- Quantidade Comprada-->
    <div class="col-12 lg:col-3">
      <label for="quantidade-comprada">Quantidade Comprada</label>
        <input
          step="1"
          pInputText
          type="number"
          class="w-full mt-1"
          id="quantidade-comprada"
          formControlName="quantidade"
        />
        <app-form-control-errors
          [control]="getControlForm('quantidade')"
        ></app-form-control-errors>
    </div>

    <!-- Desconto -->
    <div class="col-12 lg:col-3 flex-column flex">
      <label for="desconto">Desconto</label>
      <input
        pInputText
        type="text"
        id="desconto"
        appPorcentagemMask
        class="w-full mt-1"
        formControlName="desconto"
      />
      <app-form-control-errors
        [control]="getControlForm('desconto')"
      ></app-form-control-errors>
    </div>

  </div>
</form>
